[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "R2jags"]
	path = R2jags
	url = https://github.com/suyusung/r2jags
[submodule "arm"]
	path = arm
	url = https://github.com/suyusung/arm
